<div class="card my-5">
  <div class="card-body">
    <form [formGroup] ="rentForm" novalidate (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label class="col-md-4">City :</label>
        <input type="text"
               formControlName="city"
               #city
               placeholder="Enter City here"
               required id="city"
               class="form-control"/>
      </div>
      <div *ngIf="rentForm.controls['city'].invalid && (rentForm.controls['city'].dirty || rentForm.controls['city'].touched)" class="alert alert-danger">City is required
        <div *ngIf="rentForm.controls['city'].errors.required"></div>
      </div>

      <div class="form-group">
        <h5>Select your desired type of goods</h5>
        <select name="typeOfGood" formGroupName="typeOfGood">
          <option><input formControlName="house" id="house" class="form-control-sm"/>House</option>
          <option><input formControlName="apartment" id="apartment" class="form-control-sm"/>Apartment</option>
          <option><input formControlName="studio" id="studio" class="form-control-sm"/>Studio</option>
          <option><input formControlName="storage" id="storage" class="form-control-sm"/>Storage</option>
          <option><input formControlName="office" id="office" class="form-control-sm"/>Office</option>
          <option><input formControlName="shop" id="shop" class="form-control-sm"/>Shop</option>
        </select>
      </div>

      <div class="form-group">
        <h5>Select your desired status of goods</h5>
        <select name="statusOfGood" formGroupName="statusOfGood">
          <option><input formControlName="toSell" id="toSell" class="form-control-sm"/>To Sell</option>
          <option><input formControlName="toRent" id="toRent" class="form-control-sm"/>To Rent</option>
          <option><input formControlName="notAvailable" id="notAvailable" class="form-control-sm"/>NotAvailable</option>
        </select>
      </div>

      <div class="form-group">
        <label for="price">Price :</label><br/>
        <input type="number" min="1" step="1"
               formControlName="price"
               #price
               placeholder="Enter a desired price"
               required id="price"
               class="form-control">
      </div>
      <div *ngIf="rentForm.controls['price'].invalid && (rentForm.controls['price'].dirty || rentForm.controls['price'].touched)" class="alert alert-danger">Price is required
        <div *ngIf="rentForm.controls['price'].errors.required"></div>
      </div>

      <div class="form-group">
        <label for="area">Desired Area:</label><br/>
        <input type="number" min="1" step="0.5"
               formControlName="area"
               #area
               placeholder="Enter a desired area"
               required id="area"
               class="form-control">
      </div>

      <div class="form-group">
        <label for="dateAvailability">Availability Date:</label><br/>
        <input type="date"
               formControlName="dateAvailability"
               #availabilityDate
               required id="dateAvailability"
               class="form-control">
      </div>
      <div *ngIf="rentForm.controls['dateAvailability'].invalid && (rentForm.controls['dateAvailability'].dirty || rentForm.controls['dateAvailability'].touched)" class="alert alert-danger">Availability date is required
        <div *ngIf="rentForm.controls['releaseDate'].errors.required"></div>
      </div>
      <button type="submit" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
<router-outlet></router-outlet>
