<div class="card my-5">
  <div class="card-body">
    <form [formGroup] ="angForm" novalidate>

      <div class="form-group">
        <label class="col-md-4">City :</label>
        <input type="text"
               formControlName="city"
               #city
               placeholder="Enter City here"
               required id="city"
               class="form-control">
      </div>
      <div *ngIf="angForm.controls['city'].invalid && (angForm.controls['city'].dirty || angForm.controls['city'].touched)" class="alert alert-danger">City is required
        <div *ngIf="angForm.controls['city'].errors.required"></div>
      </div>

      <div class="form-group">
        <h5>Select your desired types of goods</h5>
        <tr>
          <th>
        <label class="form-inline" for="house">House</label><br/>
          </th>
          <th>
            <label class="form-inline" for="apartment">Apartment</label><br/>
          </th>
          <th>
            <label class="form-inline" for="studio">Studio</label><br/>
          </th>
          <th>
            <label class="form-inline" for="storage">Storage</label><br/>
          </th>
          <th>
            <label class="form-inline" for="office">Office</label><br/>
          </th>
          <th>
            <label class="form-inline" for="shop">Shop</label><br/>
          </th>
        </tr>

        <tr>
          <td>
        <input type="checkbox"
               formControlName="house"
               #house
               required id="house"
               class="form-control-lg">
          </td>
          <td>
        <input type="checkbox"
               formControlName="apartment"
               #apartment
               required id="apartment"
               class="form-control-lg">
          </td>
          <td>
            <input type="checkbox"
                   formControlName="studio"
                   #studio
                   required id="studio"
                   class="form-control-lg">
          </td>
          <td>
            <input type="checkbox"
                   formControlName="storage"
                   #storage
                   required id="storage"
                   class="form-control-lg">
          </td>
          <td>
            <input type="checkbox"
                   formControlName="office"
                   #office
                   required id="office"
                   class="form-control-lg">
          </td>
          <td>
            <input type="checkbox"
                   formControlName="shop"
                   #shop
                   required id="shop"
                   class="form-control-lg">
          </td>
        </tr>
      </div>

      <div class="form-group">
        <label for="priceMin">Price min:</label><br/>
        <input type="number" min="0" step="0.01"
               formControlName="priceMin"
               #priceMin
               placeholder="Enter a minimum price"
               required id="priceMin"
               class="form-control">
      </div>
      <div *ngIf="angForm.controls['priceMin'].invalid && (angForm.controls['priceMin'].dirty || angForm.controls['priceMin'].touched)" class="alert alert-danger">Min price is required
        <div *ngIf="angForm.controls['priceMin'].errors.required"></div>
      </div>

      <div class="form-group">
        <label for="priceMax">Price max:</label><br/>
        <input type="number" min="1" step="0.01"
               formControlName="priceMax"
               #priceMax
               placeholder="Enter a maximum price"
               required id="priceMax"
               class="form-control">
      </div>
      <div *ngIf="angForm.controls['priceMax'].invalid && (angForm.controls['priceMax'].dirty || angForm.controls['priceMax'].touched)" class="alert alert-danger">Max price is required
        <div *ngIf="angForm.controls['priceMax'].errors.required"></div>
      </div>

      <div class="form-group">
        <label for="dateAvailability">Availability Date:</label><br/>
        <input type="date"
               formControlName="dateAvailability"
               #availabilityDate
               required id="dateAvailability"
               class="form-control">
      </div>
      <div *ngIf="angForm.controls['dateAvailability'].invalid && (angForm.controls['dateAvailability'].dirty || angForm.controls['dateAvailability'].touched)" class="alert alert-danger">Availability date is required
        <div *ngIf="angForm.controls['releaseDate'].errors.required"></div>
      </div>
