<div class="card my-5">
  <div class="card-body">
    <form [formGroup] ="rentForm" novalidate (ngSubmit)="onSubmit()" method="post">

      <div class="form-group">
        <label class="col-md-4" for="city">City :</label>
        <input type="text"
               [formControl]="city"
               placeholder="Enter City here..."
               required id="city"
               class="form-control"/>
      </div>
      <div *ngIf="rentForm.controls['city'].invalid && (rentForm.controls['city'].dirty || rentForm.controls['city'].touched)" class="alert alert-danger">City is required
        <div *ngIf="rentForm.controls['city'].errors.required"></div>
      </div>

      <div class="form-group">
        <h5>Select your desired type of goods</h5>
        <label for="typeOfGood">Type Of Good</label>
        <select name="typeOfGood" [formControl]="type" id="typeOfGood">
          <option [ngValue]="null">Select one...</option>
          <option *ngFor="let type of enumTypeOfGood | keyvalue" [ngValue]="type.value" >{{type.key}} : {{type.value}}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="price" class="col-md-4">Price :</label><br/>
        <input type="number" min="1" step="1"
               [formControl]="price"
               placeholder="Enter a desired price..."
               required id="price"
               class="form-control">
      </div>
      <div *ngIf="rentForm.controls['price'].invalid && (rentForm.controls['price'].dirty || rentForm.controls['price'].touched)" class="alert alert-danger">Price is required
        <div *ngIf="rentForm.controls['price'].errors.required"></div>
      </div>

      <div class="form-group">
        <label for="area" class="col-md-4">Desired Area:</label><br/>
        <input type="number" min="1" step="0.5"
               [formControl]="area"
               placeholder="Enter a desired area..."
               required id="area"
               class="form-control">
      </div>

      <div *ngIf="rentForm.controls['area'].invalid && (rentForm.controls['area'].dirty || rentForm.controls['area'].touched)" class="alert alert-danger">Area is required
        <div *ngIf="rentForm.controls['area'].errors.required"></div>
      </div>
      <input type="submit" class="btn btn-info" id="searchForRent"/>
    </form>
  </div>
</div>

<!--div class="result">
  <ul>
    <li *ngFor = 'let good of goods | rentFilter: codeToFind' >
      <div class="flight-card">

        <div class="city">
          <h5> City: {{good.address.city}} </h5>
        </div>

        <div class="typeOfGood">
          <h5> Type Of Good: {{ good.typeOfGood.valueOf() }} </h5>
        </div>

        <div class="price">
          <h5> Price: {{good.price}} </h5>
        </div>

        <div class="area">
          <h5> Area: {{good.area}} </h5>
        </div>

      </div>
    </li>
  </ul>
</div>
