<body>

<app-navbar></app-navbar>

<div class="container">
    <div class="card mb-3 mx-auto" style="max-width: 540px">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="resources/maison1.jpg" class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title">{{good.nameOfGood}}</h5>
              </div>
              <div class="col text-right">
                <p style="font-weight: bold; font-size: larger">{{good.price}} €</p>
              </div>
            </div>
            <p class="card-text">Ici on pourra lire la description du bien.</p>
            <p class="card-text"><small class="text-muted">En ligne depuis :</small></p>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="card mb-3 mx-auto oneGood">
  <div class="card-header">
    <h5 class="card-title ">Details</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Type du bien : {{good.typeOfGood}}</li>
    <li class="list-group-item">Ville : {{good.address.city}}</li>
    <li class="list-group-item">Superficie : {{good.area}} m²</li>
    <li class="list-group-item">Meublé : </li>
  </ul>
</div>

  <footer>&copy;Agency of SA</footer>

</body>
