<body>

<app-navbar></app-navbar>

<div id="clientInfosTitle">
  <h4 class="text-center" style="font-weight: bold; font-size: 2.2rem">Account informations</h4><br>
</div>

<div class="container-md" id="clientInfos">
  <div class="card-body mb-3 mx-auto">
    <table class="table table-hover">
      <thead class="thead-dark text-center">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone number</th>
        <th scope="col">City</th>
        <th scope="col">Zipcode</th>
        <th scope="col">Street</th>
        <th scope="col">Country</th>
      </tr>
      </thead>
      <tbody class="text-center" style="color: black">
      <tr>
        <td>{{ client.name }}</td>
        <td>{{ client.phoneNumberPers }}</td>
        <td>{{ client.address.city }}</td>
        <td>{{ client.address.zipcode }}</td>
        <td>{{ client.address.streetNber + ', ' + client.address.street}}</td>
        <td>{{ client.address.country }}</td>
        <td>
          <!--              <img src="resources/delete_good.png">-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div id="listOfDesiredGood">
  <button (click)="goDesiredList()">My List of Goods</button>
</div>

<footer>&copy;Agency of SA</footer>

</body>

