<body>
  <app-navbar></app-navbar>
<br>
<div class="col text-center">
  <h2> Create a contract </h2>
<form [formGroup]="formContract" (ngSubmit)="onSubmit(); formContract.reset()">
<br>
<div class="formContract">
  <div class="form-group">
    <label for="typeOfContract">Type of Contract :</label>
    <br>
    <input id="typeOfContract" type="text" formControlName="typeOfContract" >
  </div>


  <div class="form-group">
    <label for="dateOfContract">
      Date of contract:
    </label>
    <br>
    <input id="dateOfContract" type="date" formControlName="dateOfContract">
  </div>
  <div>
    <label for="agentId">
      Agent id :
    </label>
    <br>
    <select formControlName="agentId" id="agentId" (change)="getAgent()">
      <option value="" disabled>Choisissez un agent</option>
      <option *ngFor="let agent of users|filterUsers: 'EstateAgent' " [ngValue]="agent.id" >
        {{agent.id}}: {{agent.name}}
      </option>
    </select>
  </div>
  <br>
  <div>
    <label for="clientId" >
      Client Id :
    </label>
    <br>
    <select formControlName="clientId" id="clientId" (change)="getClient()">
      <option value="" disabled>Choisissez un client</option>
      <option *ngFor="let client of users |filterUsers: 'Client' " [ngValue]="client.id" >
        {{client.id}}: {{client.name}}
      </option>
    </select>
  </div>
  <br>
  <div>
    <label for="goodId">
      Good id :
    </label>
    <br>
    <select formControlName="goodId" id="goodId" (change)="getGood()">
      <option value="" disabled>Choisissez un bien</option>
      <option *ngFor="let good of goods" [ngValue]="good.id" >
        {{good.id}}: {{good.nameOfGood}}
      </option>
    </select>
  </div>
  <br>
  <div>
    <label for="priceOfContract">
      Total price :
    </label>
    <br>
    <input id="priceOfContract" type="number" formControlName="priceOfContract"  >
  </div>
  <br>
  <button class="btn btn-primary" type="submit" > Create</button>
  <button class="btn badge-danger" type="reset"> Reset</button>
</div>
</form>
<br>
<footer>&copy;Agency of SA</footer>
</div>
</body>
