<section>
  <div id="form">
    <div class="container" >
      <div class="col text-center">
      <h1 class="text-area"> Sell a good</h1>
      </div>

      <div class="col text-center">
      <div class="form-group">
        <label for="type"> Type
          <select  class="form-control" name="type" size="1" id="type" formControlName="type">
            <option> House </option>
            <option> Apartment </option>
            <option> Studio </option>
            <option> Storage</option>
            <option> Office </option>
            <option> Shop </option>
          </select>
        </label>
      </div>
      </div>

      <div class="form-group">

        <label for="city"> City</label>
        <input type="text" class="form-control" name="city" id="city" formControlName="city">

        <label for="zipcod"> Zipcod</label>
        <input type="text" class="form-control" name="zipcod" id="zipcod" formControlName="zipcod">

        <label for="streetnumber"> Street number</label>
        <input type="text" class="form-control" name="streetnumber" id="streetnumber" formControlName="city">
        <label for="street"> Street</label>
        <input type="text" class="form-control" name="street" id="street" formControlName="street">

        <label for="country"> Country</label>
        <input type="text" class="form-control" name="country" id="country" formControlName="country">

      </div>
      <div class="form-group">
        <label for="price"> Price (€)</label>
        <input type="number" class="form-control" name="price" id="price" formControlName="price" step="0.01">
      </div>
      <div class="form-group">
        <label for="area"> Area (m2)</label>
        <input type="number" class="form-control" name="area" id="area" formControlName="area" step="0.01">
        <!--  <div class="alert alert-danger"
         *ngIf="placeForm.get('area').touched"> Area is required</div> -->
      </div>
    <div id="button" class="col text-center">
      <button class="btn btn-primary" type="submit"> Sell</button>
      <button class="btn btn-secondary" type="reset"> Reset</button>
    </div>

    </div>

  </div>

</section>
