<body>

<app-navbar></app-navbar>

<div id="clientListOfGoodsTitle">
  <h4 class="text-center" style="font-weight: bold; font-size: 2.2rem">List of desired goods</h4><br>
</div>

<div class="container-md" id="clientListOfGoods">
  <div class="card-body mb-3 mx-auto">
    <table class="table table-hover">
      <thead class="thead-dark text-center">
      <tr>
        <th scope="col">#ID</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Address</th>
        <th scope="col">Area</th>
        <th scope="col">Code</th>
      </tr>
      </thead>
      <tbody class="text-center" style="color: white">
      <tr *ngFor="let good of listDesiredGoods">
        <td>{{ good.id }}</td>
        <td>{{ good.nameOfGood }}</td>
        <td>{{ good.typeOfGood }}</td>
        <td>{{ good.price }} €</td>
        <td>{{ good.address.country + ', ' + good.address.city + ', ' + good.address.streetNber + ' ' + good.address.street}}</td>
        <td>{{ good.area }} m²</td>
        <td style="font-weight: bold">{{ good.code }}</td>
        <td>
          <button (click)="removeGoodFromDesiredList(client.id, good.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div id="addDesiredGoodToList">
      <button routerLink="">Add new good to your list ?</button>
    </div>
  </div>
</div>

<footer>&copy;Agency of SA</footer>

</body>
