h5{
    font-style: italic;
}
h4{
font-style: italic;
}
footer{
position: fixed;
bottom: 0;
}
body {
background: url("src/resources/home_image.jpg") no-repeat;
background-size: cover;
height: 100%;
width: 100%;
position: fixed;
}
p, label, h5{
color: white;
}