<body>

<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <img src="https://img.icons8.com/dusk/64/000000/raspberry.png" class="logoHome"/>
    <a class="navbar-brand" href="/home">Home<span class="sr-only">(current)</span></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link">Link</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link">Sign in</a>
      </li>
    </ul>
  </div>
</nav>

  <!----------------------------------------------------------------------->

<div class="container-md">
  <div class="card-body mb-3 mx-auto">
    <h4 class="text-center" style="font-weight: bold; font-size: 2.2rem">ALL GOODS</h4><br>
      <table class="table table-hover">
        <thead class="thead-dark text-center">
          <tr>
            <th scope="col">#ID</th>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Address</th>
            <th scope="col">Area</th>
          </tr>
        </thead>
        <tbody class="text-center" style="color: white">
          <tr *ngFor="let good of goods">
            <td>{{ good.id }}</td>
            <td><a class="alert-link" [routerLink]="['edit',good.id]">{{ good.nameOfGood }}</a></td>
            <td>{{ good.typeOfGood }}</td>
            <td style="font-weight: bold">{{ good.price }} €</td>
            <td>{{ good.address.country + ', ' + good.address.city + ', ' + good.address.streetNber + ' ' + good.address.street}}</td>
            <td>{{ good.area }} m²</td>
<!--            <td>-->
<!--              <button class="btn btn-link" [routerLink]="['edit',good.id]">DETAILS</button>-->
<!--            </td>-->

<!--              <img src="resources/delete_good.png">-->

          </tr>
        </tbody>
      </table>
  </div>
</div>

<footer>&copy;Agency of SA</footer>

</body>
