body {
  background: url("src/home_image.jpg") no-repeat;
  background-size: cover;
  height: 100%;
}

.logoHome {
  margin: 2px 20px;
  height: 40px;
  width: 40px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

.nav-item {
  margin: 1px 8px;
  font-size: 1.1em;
}

footer {
  text-align: center;
  color: blue;
  font-weight: bold;
  font-size: 1.2em;
  font-family: "JetBrains Mono";
}
