<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <img src="https://img.icons8.com/dusk/64/000000/raspberry.png" class="logoHome"/>
      <a class="navbar-brand" href="/home">Home<span class="sr-only">(current)</span></a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a routerLink="/goods" class="nav-link">List of goods</a>
        </li>
        <li class="nav-item active" >
          <a routerLink="/sign-in" class="nav-link">Sign in</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>

  <!----------------------------------------------------------------------->

  <div class="jumbotron">
  <h3 class="display-6 headJumbotron typewriter">What are you looking for ?</h3>
  <div>
    <div class="btn-group btn-group-toggle btnGroup" data-toggle="buttons">
      <label class="btn btn-danger active">
       <input type="radio" name="options" id="option1" checked> ACHETER
      </label>
      <label class="btn btn-danger">
        <input type="radio" name="options" id="option2"> LOUER
      </label>
      <a routerLink="/sell"><button class="btn btn-danger">VENDRE</button> </a>  <!-- redirection car je n'ai pas reussi autrement -->
    </div>
  <hr class="my-4">
  <p>Ici les 3 différents formulaires...</p>
  <!-- RENVOIE SUR L'AFFICHAGE D'UNE LISTE DE BIENS -->
  <a class="btn btn-secondary btn-sm" role="button">Search</a>
  </div>
</div>

<footer>&copy;Agency of SA</footer>

</body>


</html>






