
<body>

<app-navbar></app-navbar>
<br>
<br>
<h1 class="col text-center"> Welcome to the Sophia Antipolis agency </h1>

<div class="card mt-4">
  <h4 class="card-header">You're logged in !</h4>
  <div class="card-body">
    <h6>Users from secure api end point</h6>
    <div *ngIf="loading"></div>
    <ul *ngIf="users">
      <li *ngFor="let user of users">{{user.name}}</li>
    </ul>
  </div>
</div>



<div class="jumbotron">
  <h3 class="display-6 headJumbotron typewriter">What are you looking for ?</h3>
  <div>
    <div class="btn-group btn-group-toggle btnGroup" data-toggle="buttons">
        <a routerLink="/goods"><button class="btn btn-danger">BUY / RENT</button> </a>
      <a routerLink="/sell"><button class="btn btn-danger">SELL</button> </a>  <!-- redirection car je n'ai pas reussi autrement -->
    </div>
  </div>
</div>
<br>
<footer class="col text-center">&copy;Agency of SA</footer>

</body>

