<!doctype html>
<html>
<body>

<app-navbar></app-navbar>

<div class="jumbotron">
  <h3 class="display-6 headJumbotron typewriter">What are you looking for ?</h3>
  <div>
    <div class="btn-group btn-group-toggle btnGroup" data-toggle="buttons">
      <label class="btn btn-danger active">
       <input type="radio" name="options" id="option1" checked> ACHETER
      </label>
      <label class="btn btn-danger">
        <input type="radio" name="options" id="option2"> LOUER
      </label>
      <a routerLink="/sell"><button class="btn btn-danger">VENDRE</button> </a>  <!-- redirection car je n'ai pas reussi autrement -->
    </div>
  <hr class="my-4">
  <p>Ici les 3 différents formulaires...</p>
  <a class="btn btn-secondary btn-sm" role="button">Search</a>
  </div>
</div>

<footer>&copy;Agency of SA</footer>

</body>

</html>






